body {
  margin: 0;
  font-family: sans-serif;
  padding: 0px;

  list-style: none;
}

.main{
  background-color: #C28F8F;
  width: 100%;
  height: 100vh;
}
.main--innerblock{
  background-color: #926C75;
  width: 85%;
  height: 80vh;
  margin: 0 auto;
  
}