body {
  margin: 0;
  font-family: sans-serif;
  padding: 0px;

  list-style: none;
}

.main{
  background-color: #C28F8F;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;

}
.main--innerblock{
  background-color: #926C75;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;

}
.center--firstline{
  color: white;
  display: flex; 
  gap: 15px;
  margin:40px 0px 0px 250px;
}
.inputs{
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.inputs:focus::placeholder{
  font-size: 14px;
  
}

#btn{
  background-color: black;
  color: white;
  font-size: 30px;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 15px;
}

#btn:hover{
  background-color: rgba(0, 0, 0, 0.779);
  cursor: pointer;
}
.center--showkharcha{
background-color: black;
border-radius: 10px;
padding: 0 15px;
cursor: pointer;
}

/* // append ko property start vayo hai ta  */
.main--appendchild{
  /* padding: 5px; */
  display: flex;
  gap: 100px;
  margin-left: 230px;
  margin-top: 20px;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 10px;

}

#delete{
  color: red;
  cursor: pointer !important;
}
#delete:hover{
  color: rgba(255, 0, 0, 0.726);

}
.miti{
  font-size: 10px;
  margin-top:21px;
}