@media only screen and (max-width: 1000px) {
    .inputs{
        font-size: 24px;
        
    }
    .center--firstline{
        gap: 5px;
        margin: 10px auto;
        flex-wrap: wrap;
      
    }
    input::placeholder{
        font-size: 10px;
    }
    #btn{
        font-size: 14px;
        padding: 0px 14px;
    }
    .center--showkharcha {
        padding: 0 7px;
      }
      .main--appendchild{
        
            padding: 5px;
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            margin-left: 0px;

      }
      .main--innerblock{
        width: 85%;
        flex-wrap: wrap;
      }
}